streamlit
numpy
pandas
Pillow
opencv-python-headless
mediapipe
av
streamlit-webrtc
gTTS
pyttsx3
ultralytics
tensorflow-cpu
librosa>=0.10.1
joblib
scikit-learn
xgboost
opencv-python==4.10.0.84
torch
torchvision
