streamlit
numpy
pandas
Pillow
opencv-python-headless
mediapipe==0.10.11
av
streamlit-webrtc
gTTS
pyttsx3
ultralytics
tensorflow-cpu
librosa>=0.10.1
joblib
scikit-learn
xgboost
torch
torchvision
mtcnn
deepface
numba>=0.59.0
